/*** index **/
object{
	width: 100%;
	border: solid 1px lightgray;
}
iframe{ width: 100%;}
fieldset{ margin-bottom: 5px;}
legend{ font-size: 20px;}


/*** parent ***/
fieldset{ margin-bottom: 5px; }
iframe{ width: 100%;}


/*** children ***/
h4,div{ margin: 0px 0px;}
#target{ color: lime; }
